.description {
  margin-bottom: 5rem;
  &__title {
    margin-bottom: 3rem;
    @include mobile {
      margin-bottom: 1rem;
    }
  }

  &__desc {
    margin-bottom: 3rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @include mobile {
      display: flex;
      gap: 0;
    }

    &--four {
      @include mobile {
        flex-direction: column;
        gap: 1.6rem;
        .description__item {
          width: 100%;
        }
        .desc-item__content {
          font-size: 1.6rem;
        }
      }
    }
  }

  &__item {
    padding: 2.7rem;
    background: #f6f7f8;
    border-radius: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    @include mobile {
      width: 27rem;
    }
  }
}

.desc-item {
  &__fig {
    font-weight: 700;
    font-size: 3.6rem;
    color: #b01c32;

    @include mobile {
      font-size: 3.6rem;
    }
  }
  &__icon {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__content {
    font-weight: 600;
    line-height: 137%;
  }
}
