.fransh-map {
  padding-bottom: 4rem;
  margin-bottom: 6rem;
  position: relative;
  @include mobile {
    padding-bottom: 2rem;
    margin-bottom: 5rem;
  }
  &__title {
    margin-bottom: 84rem;
    @include mobile {
      margin-bottom: 47rem;
    }
  }
  &__bottom {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2rem;
    color: #454545;
    @include mobile {
      font-size: 1.6rem;
    }
    span {
      font-weight: 600;
      color: #b01c32;
    }
  }
  &__img {
    position: absolute;
    z-index: -1;
    left: calc((100% - var(--container-width)) / 2);
    top: 50%;
    transform: translate(0, -50%);
    height: 300%;
    width: 100%;
    @include mobile {
      height: 300%;
      transform: none;
      left: 0;
      top: 40%;
      transform: translateY(-50%);
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: -18rem 0;
      @include mobile {
        object-position: 10.5% 0;
      }
    }
  }
}
