.franch {
  margin-bottom: 10rem;
  &__title {
    margin-bottom: 3rem;
  }
  &__desc {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}
.f-ben {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 2.4rem;
  }

  &__item {
    min-height: 28.2rem;
    padding: 3rem 2.2rem;
    background: #f6f7f8;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  &__capture {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    color: #303030;
  }
  &__desc {
    line-height: 1.15;
  }
}
