.hero {
  padding-top: 2rem;
  padding-bottom: 3rem;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1.2rem;
    overflow: hidden;
    min-height: 53rem;
    background: linear-gradient(136deg, #f6f7f8 0%, #e8e9ec 100%);

    &--red {
      background: linear-gradient(180deg, #ce1e38 0%, #a3192e 100%);

      .hero__img {
        background: linear-gradient(136deg, #f6f7f8 0%, #e8e9ec 100%);
      }
      .hero__title,
      .hero__subtitle,
      .hero__desc {
        color: #fff;
      }
    }

    @include mobile {
      min-height: unset;
    }
  }
  &__wrapper {
    position: relative;
  }
  &__right {
    position: relative;
  }
  &__left {
    padding: 14.5rem 5rem;

    @include mobile {
      padding: 3.2rem 0rem;
      padding-left: 1rem;
    }
  }
  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 2.4rem;
    color: #303030;
    @include mobile {
      font-size: 1.2rem;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 4.8rem;
    color: #303030;
    @include mobile {
      font-size: 1.4rem;
      margin-bottom: 0.7rem;
    }
  }
  &__desc {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 2rem;
    color: #303030;

    @include mobile {
      font-size: 1rem;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ce1e38 0%, #a3192e 100%);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-position: right;
      @include mobile {
        object-fit: contain;
      }
    }
  }

  &__slider {
    position: relative;
  }

  &__pagination {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 3;
    width: auto !important;
  }
}

.hero--fransh {
  .hero__right {
    background: none;
  }
  .hero__container {
    background-image: url("./../img/fransh-hero.webp"),
      linear-gradient(180deg, #f6f7f8 0%, #f3f4f5 100%);
    background-size: auto 100%, cover;
    background-position: right;
    background-repeat: no-repeat;

    @include mobile {
    }
  }
  .hero__img {
    background: none;

    img {
      height: calc(100% - 2.2rem);
      display: block;
      transform: none;
      top: unset;
      left: unset;
      right: 10rem;
      bottom: 0;
      width: auto;
      object-fit: contain;

      @include mobile {
        height: calc(100% - 0.8rem);
        right: 1.2rem;
      }
    }
  }
}
