.menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  transform: translateY(-100%);
  transition: 0.3s ease-in;
  &__body {
    padding: 3rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  &__btn {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
  }

  &.menu--active {
    transform: translateY(0);
    opacity: 1;
  }
}
