.nav {
  &__list {
    display: flex;
    gap: 4rem;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    color: #303030;
    transition: color 0.3s ease-in-out;
    @include hover {
      color: #b01c32;
    }
  }
}
