.reason {
  margin-bottom: 10rem;
  @include mobile {
    margin-bottom: 3rem;
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 2.5rem;
    @include mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    &:not(:last-child) {
      margin-bottom: 4rem;
      @include mobile {
        margin-bottom: 3rem;
      }
    }
  }
  &__capture {
    margin-bottom: 2rem;
    @include mobile {
      margin-bottom: 1rem;
    }
  }
  &__block {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
