.ready {
  margin-bottom: 10rem;
  @include mobile {
    margin-bottom: 5rem;
  }
  &__title {
    margin: 0;
    margin-bottom: 5rem;

    font-weight: 700;
    font-size: 2.4rem;
    color: hsl(0, 0%, 19%);
    @include mobile {
      margin-bottom: 2rem;
    }
  }
  &__wrapper {
    position: relative;
  }
  &__control {
    @include mobile {
      display: none;
    }
  }
  &__slider {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    .swiper-slide {
      box-sizing: border-box;

      @include mobile {
        width: 29rem;
      }
    }
  }
  &__pagination {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
    @include mobile {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__ba {
    height: 46.4rem;

    @include mobile {
      height: 23rem;
    }
  }
}
