.service-hero {
  margin-bottom: 10rem;
  @include mobile {
    padding-top: 2rem;
    margin-bottom: 5rem;
  }
  &__title {
    margin-bottom: 2.5rem;
    @include mobile {
      margin-bottom: 3rem;
    }
  }
  &__list {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__extra {
    color: #b01c32;
    line-height: 1.62;
  }
}

.service-item {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e8e9ec;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__title {
    margin-bottom: 1rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2.4rem;
    color: #303030;

    @include mobile {
      font-size: 2rem;
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    gap: 7.6rem;

    @include mobile {
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__btn {
    @include mobile {
      font-size: 1.6rem;
    }
  }
}
