<section class="description">
  <div class="container">
    <h2 class="title2 description__title">Мистер Починкин сегодня - это</h2>

    <div class="description__items description__items--four">
      <div class="description__item desc-item">
        <div class="desc-item__fig">10</div>
        <div class="desc-item__content desc">
          лет работы <br />
          на рынке
        </div>
      </div>
      <div class="description__item desc-item">
        <div class="desc-item__fig">3600+</div>
        <div class="desc-item__content desc">
          выполеных<br />
          заказов
        </div>
      </div>
      <div class="description__item desc-item">
        <div class="desc-item__fig">1000+</div>
        <div class="desc-item__content desc">
          положительных<br />
          отзывов
        </div>
      </div>
      <div class="description__item desc-item">
        <div class="desc-item__fig">4</div>
        <div class="desc-item__content desc">
          региональных<br />
          центра
        </div>
      </div>
    </div>
    <p class="desc description__desc">
      Наши мастерские осуществляют профессиональный ремонт детских колясок,
      электросамокатов, очков, а так же чемоданов на колесиках. За 10 лет
      работы, мы накопили большой экспертный опыт, что позволяет устранять
      поломки любой сложности. Благодаря узкой направленности и большому опыту
      мастеров, к нам обращаются даже в самых сложных случаях, когда другие
      сервисные центры отказываются от ремонта. На данный момент сформирована
      сеть сервсиных центров в Москве, Санкт-Петербурге, Казани и Калининграде.
      Будем рады видеть Вас, в наших мастерских!
    </p>
  </div>
</section>
