<section class="avail">
  <div class="container">
    <div class="avail__container">
      <div class="avail__content">
        <h2 class="avail__title">
          В наличии более <span>50&nbsp;000</span>
          запчастей для
        </h2>
        <div class="avail__items">
          <div class="avail__item">
            <div class="avail__img">
              <img src="./img/details/01.webp" alt="" />
            </div>
            <div class="avail__name">чемоданов</div>
          </div>
          <div class="avail__item">
            <div class="avail__img">
              <img src="./img/details/02.webp" alt="" />
            </div>
            <div class="avail__name">колясок</div>
          </div>
          <div class="avail__item">
            <div class="avail__img">
              <img src="./img/details/03.webp" alt="" />
            </div>
            <div class="avail__name">электро- самокатов</div>
          </div>
          <div class="avail__item">
            <div class="avail__img">
              <img src="./img/details/04.webp" alt="" />
            </div>
            <div class="avail__name">очков</div>
          </div>
        </div>
      </div>
    </div>
    <p class="desc avail__desc desc">
      Функциональные коляски, чемоданы на колесиках и с телескопическими
      ручками, электросамокаты – эти изделия существенно облегчают нам жизнь и
      экономят время. И как же обидно, когда что-то выходит из строя, ведь
      починить непростую современную конструкцию самостоятельно получается не
      всегда. Мы быстро и профессионально починим ваши любимые вещи и вернем
      возможность вновь пользоваться ими с удовольствием и без проблем.
    </p>
  </div>
</section>
