<section class="banner">
  <div class="banner__container">
    <div class="banner__content">
      <p class="banner__subtitle">Сервисные центры</p>
      <h2 class="title2 title2--white banner__title">Мистер Починкин</h2>
      <div class="banner__items">
        <div class="banner__item">
          <div class="banner__icon">
            <img src="./img/shield.svg" alt="" />
          </div>
          <p class="desc banner__name">
            продаем оригинальные запчасти и аналоги
          </p>
        </div>
        <div class="banner__item">
          <div class="banner__icon">
            <img src="./img/cubes.svg" alt="" />
          </div>
          <p class="desc banner__name">чиним даже сложные поломки</p>
        </div>
        <div class="banner__item">
          <div class="banner__icon">
            <img src="./img/rub.svg" alt="" />
          </div>
          <p class="desc banner__name">доступные цены на ремонт</p>
        </div>
        <div class="banner__item">
          <div class="banner__icon">
            <img src="./img/person.svg" alt="" />
          </div>
          <p class="desc banner__name">поможем подобрать запчасти</p>
        </div>
      </div>
    </div>
    <div class="banner__img">
      <img src="./img/banner.webp" alt="" />
    </div>
  </div>
</section>
