<section class="benefits">
  <div class="container">
    <h2 class="title2 benefits__title">Преимущества нашей мастерской</h2>

    <div class="benefits__items">
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/01.webp" alt="" />
        </div>
        <div class="ben-item__name desc">
          Ремонт мелких повреждений, конструктивных элементов, эстетических
          дефектов
        </div>
      </div>
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/02.webp" alt="" />
        </div>
        <div class="ben-item__name desc">
          Индивидуальный экспертный подход<br />к каждому заказу
        </div>
      </div>
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/03.webp" alt="" />
        </div>
        <div class="ben-item__name desc">
          Профессиональные и опытные сотрудники
        </div>
      </div>
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/04.webp" alt="" />
        </div>
        <div class="ben-item__name desc">
          Поставки запчастей от производителя
        </div>
      </div>
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/05.webp" alt="" />
        </div>
        <div class="ben-item__name desc">
          Качественный ремонт по доступным ценам
        </div>
      </div>
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/06.webp" alt="" />
        </div>
        <div class="ben-item__name desc">
          Большое помещение со всем необходимым оборудованием и инструментом
        </div>
      </div>
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/07.webp" alt="" />
        </div>
        <div class="ben-item__name desc">
          Связь с клиентами по телефону, WhatsApp и электронной почте
          (возможность отправления фотографий поломок или необходимых запчастей)
        </div>
      </div>
    </div>
  </div>
</section>
