<section class="brands">
  <div class="container">
    <h2 class="title2 brands__title">Сеть сервисных центров Мистер Починкин</h2>
    <div class="brands__subtitle">
      Помимо ремонта изделий, наша мастерская выполняет услуги по реставрации и
      химчистке различных изделий, например:
    </div>

    <div class="brands__row">
      <div class="brands__ben brands-ben">
        <div class="brands-ben__img">
          <img src="./img/str.webp" alt="" />
        </div>
        <div class="brands-ben__content">
          Химчистка детских колясок, автокресел и других изделий
        </div>
      </div>
      <div class="brands__ben brands-ben">
        <div class="brands-ben__img">
          <img src="./img/bag.webp" alt="" />
        </div>
        <div class="brands-ben__content">
          Реставрация кожаных сумок, чемоданов, кейсов и т.д.
        </div>
      </div>
      <div class="brands__ben brands-ben">
        <div class="brands-ben__img">
          <img src="./img/tk.webp" alt="" />
        </div>
        <div class="brands-ben__content">Восстановление ткани изделий</div>
      </div>
    </div>
    <div class="brands__extra">
      Ознакомиться с полным перечнем услуг можно по телефону +7 (495) 182-43-43
      или WhatsApp номеру +7 (903) 724-23-92.
    </div>
  </div>
</section>
