<section class="brands">
  <div class="container">
    <h2 class="title2 brands__title">Сеть сервисных центров Мистер Починкин</h2>
    <p class="desc brands__desc">
      Сервсный центр Мистер Починкин, осуществляет ремонт детских колясок
      различных брендов - чиним модели более 55 производителей: европейского,
      российского и китайского производства. Профессиональное оборудование,
      большой опыт работы и наличие фирменных запчастей, позволяет чинить даже
      самые новые модели текущего года. Большинство поломок, мы можем устранить
      в день обращения!
    </p>
    <p class="brands__subtitle title3 title3--dark">
      В наличии запчасти к коляскам брендов
    </p>

    <div class="brands__slider swiper">
      <div class="swiper-wrapper brands__items">
        <div class="swiper-slide brands__item">
          <img src="./img/partners/adamex.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/anex.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/babydoing.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/babythrone.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/yoya.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/babytime.webp" alt="" />
        </div>

        <div class="swiper-slide brands__item">
          <img src="./img/partners/babyzen.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/bebemobile.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/bebetto.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/camarelo.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/curetto.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/cosatto.webp" alt="" />
        </div>

        <div class="swiper-slide brands__item">
          <img src="./img/partners/espiro.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/esspero.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/indigo.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/jedo.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/joolz-short.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/lonex.webp" alt="" />
        </div>

        <div class="swiper-slide brands__item">
          <img src="./img/partners/noordi.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/prampol.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/quipolo.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/retrus.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/riko-another.webp" alt="" />
        </div>
        <div class="swiper-slide brands__item">
          <img src="./img/partners/roan.webp" alt="" />
        </div>
      </div>
    </div>
    <div class="brands__extra">
      Полный список можно получить у менеджеров мастерской.
    </div>
  </div>
</section>
