<div class="container">
  <div class="breadcrumbs">
    <span>
      <span>
        <a href="./">Главная</a>
      </span>
      <span>Контакты</span>
    </span>
  </div>
</div>
<section class="contacts-main">
  <div class="container">
    <h1 class="title2 contacts-main__title">
      Контакты сети мастерских Мистер Починкин
    </h1>
    <div class="contacts-main__items">
      <div class="contacts-main__item contactsM-item">
        <div class="contactsM-item__capture capture">
          Время работы коллцентра
        </div>
        <ul class="list-reset contactsM-item__list desc">
          <li>Пн - Пт: с 09:00 до 20:00</li>
          <li>Сб: с 11:00 до 17:00</li>
          <li>Вс: с 11:00 до 17:00</li>
        </ul>
      </div>
      <div class="contacts-main__item contactsM-item">
        <div class="contactsM-item__capture capture">Электронная почта</div>
        <a href="mailto:info@mr-pochinkin.ru" class="contactsM-item__link"
          >info@mr-pochinkin.ru</a
        >
      </div>
      <div class="contacts-main__item contactsM-item">
        <div class="contactsM-item__capture capture">Телефоны</div>
        <div class="contactsM-item__block">
          <span class="contactsM-item__label"> Многоканальный телефон </span>
          <a href="tel:+7 (495) 182-43-43" class="contactsM-item__tel"
            >+7 (495) 182-43-43</a
          >
        </div>
        <div class="contactsM-item__block">
          <span class="contactsM-item__label"> WhatsApp для фото поломок </span>
          <a href="#" class="contactsM-item__tel contactsM-item__tel--whatsapp"
            >+7 (903) 724-23-92</a
          >
        </div>
      </div>
      <div class="contactsM-item__item contactsM-item">
        <div class="contactsM-item__capture capture">Адреса</div>
        <p class="contactsM-item__desc desc">
          Сеть мастерских - более 10 сервисных центов в Москве, Санкт-Петербруге
          и других городах России.
        </p>
        <a href="#contacts-map" class="contactsM-item__link"
          >Адеса указаны ниже.</a
        >
      </div>
    </div>
  </div>
</section>
