<section class="cta cta--test">
  <div class="container">
    <div class="cta__container">
      <div class="cta__content">
        <h2 class="title2 title2--white cta__title">Протестируйте бесплатно</h2>
        <p class="capture capture--white cta__capture">
          Приведем Ваше изделие в идеальное состояние!
        </p>

        <form action="#" class="form cta__form">
          <div class="form__grid">
            <label class="form__label">
              <input
                type="text"
                class="form__input"
                placeholder="Ваше имя*"
                name="Имя клиента"
              />
            </label>
            <label class="form__label">
              <input
                type="tel"
                class="form__input"
                placeholder="Ваш номер телефона*"
                name="Телефон"
              />
            </label>
            <label class="form__label">
              <input
                type="text"
                class="form__input"
                placeholder="Ваш город"
                name="Город"
              />
            </label>
            <label class="form__label">
              <input
                type="email"
                class="form__input"
                placeholder="Ваш e-mail"
                name="E-mail"
              />
            </label>
          </div>
          <small class="form__extra">* поле обязательное для заполнения</small>
          <small class="form__extra form__extra--agree">
            Нажимая на кнопку «Отправить», Вы принимаете условия политики
            конфиденциальности в отношении обработки персональных данных.
          </small>

          <button class="btn btn-reset form__btn">Протестировать</button>
        </form>
      </div>
    </div>
  </div>
</section>
