<section class="description">
  <div class="container">
    <h2 class="title2 description__title">
      Сеть сервисных центров Мистер Починкин
    </h2>
    <p class="desc description__desc">
      Наши мастерские осуществляют профессиональный ремонт детских колясок,
      электросамокатов, очков, а так же чемоданов на колесиках. За 10 лет
      работы, мы накопили большой экспертный опыт, что позволяет устранять
      поломки любой сложности. Благодаря узкой направленности и большому опыту
      мастеров, к нам обращаются даже в самых сложных случаях, когда другие
      сервисные центры отказываются от ремонта. На данный момент сформирована
      сеть сервсиных центров в Москве, Санкт-Петербурге, Казани и Калининграде.
      Будем рады видеть Вас, в наших мастерских!
    </p>
    <div class="description__slider swiper">
      <div class="description__items swiper-wrapper">
        <div class="description__item swiper-slide desc-item">
          <div class="desc-item__icon">
            <img src="./img/desc/01.svg" alt="" />
          </div>
          <div class="desc-item__content desc">
            Устраняем поломки любой сложности
          </div>
        </div>

        <div class="description__item swiper-slide desc-item">
          <div class="desc-item__icon">
            <img src="./img/desc/02.svg" alt="" />
          </div>
          <div class="desc-item__content desc">
            Работают только опытные мастера
          </div>
        </div>

        <div class="description__item swiper-slide desc-item">
          <div class="desc-item__icon">
            <img src="./img/desc/03.svg" alt="" />
          </div>
          <div class="desc-item__content desc">
            Возможен выездной ремонт на дому
          </div>
        </div>

        <div class="description__item swiper-slide desc-item">
          <div class="desc-item__icon">
            <img src="./img/desc/04.svg" alt="" />
          </div>
          <div class="desc-item__content desc">
            Беремся даже за сложные случаи
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
