<section class="dets">
  <div class="container">
    <h2 class="title2 dets__title">Запчасти в наличии и на заказ</h2>
    <p class="dets__desc desc">
      Если в вашей семье есть мастер на все руки, который может починить что-то
      сам, ему наверняка понадобятся детали. Колесики, шарниры, втулки,
      фастексы, пружины-амортизаторы – это не всегда можно купить в ближайшем
      хозяйственном магазине. Мы предлагаем оригинальные или альтернативные
      запчасти для ваших изделий, чтобы вы могли отремонтировать их дома.
    </p>

    @include('banner.html')
  </div>
</section>
