<section class="fransh-steps">
  <div class="container">
    <h2 class="title2 fransh-steps__title">Этапы запуска франшизы</h2>
    <div class="desc fransh-steps__content">
      <ol>
        <li>
          Юридическое оформление и оплата. Подписание договора коммерческой
          концессии, оплата паушального взноса, открытие ИП и расчётного счёта.
        </li>
        <li>
          Поиск помещения, заключение договора аренды, подбор подрядчиков для
          выполнения работ, согласование и установка вывесок.
        </li>
        <li>
          Бухгалтерия и учет. Подача заявки на эквайринг, покупка, регистрация
          онлайн-кассы и офисной техники, подключение CRM-системы и складского
          учёта.
        </li>
        <li>
          Подбор сотрудников. Поиск сотрудников по нашим рекомендациям,
          проведение Skype-собеседований с кандидатами и официальное
          трудоустройство.
        </li>
        <li>
          Настройка рекламных кампаний. Настройка контекстной и SMM рекламы,
          создание аккаунтов, лендингов, подготовка контент-плана и согласование
          с площадками.
        </li>
        <li>
          Техническое оснащение. Закупка инструментов, формирование базового
          комплета запчатей и материалов. Обучение франчайзи Пятидневное
          индивидуальное обучение франчайзи, с передачей пакета франшизы.
        </li>
        <li>
          Открытие сервиса. Техническое открытие сервиса, с выездом нашего
          специалиста (опционально), запуск интернет маркетинга и оффлайн
          рекламы.
        </li>
      </ol>
    </div>

    <div class="fransh-steps__bottom">
      <span
        >После открытия и запуска сервисного центра, вы получаете поддержку от
        наших менеджеров и мастеров.</span
      >

      <br /><br />

      Уточнить подробности по франшизе можно отправив запрос через форму ниже,
      отправив письмо на мочту
      <a href="mailto:franshiza@mr-pochinkin.ru">franshiza@mr-pochinkin.ru</a>
      либо позвонив нам по телефону.
    </div>

    <div class="fransh-steps__download">
      Скачайте презентацию и узнайте больше подробностей
      <a href="#" class="fransh-steps__dw">
        <img src="./img/pdf.svg" alt="" />
        Презентация Мистер Починкин
      </a>
    </div>
  </div>
</section>
