<section class="service-desc">
  <div class="container">
    <h2 class="title2 service-desc__title">
      Франшиза мастерской Мистер Починкин
    </h2>
    <div class="desc service-desc__desc">
      <p>
        За 10 лет успешной работы сервисных центров Мистер Починкин, нам удалось
        накопить большой опыт и понимание данного бизнеса. Удалось организовать
        сеть мастерских в Москве, Санкт-Петербурге, Казани, Калининграде и
        других городах. Мы всегда рады новым парнерам и готовы поделиться своим
        опытом.
        <br />
        Если вы хотите открыть прибыльный бизнес, с доходом от 150 000 рублей и
        более в месяц - будем рады сотрудничеству! Процесс открытия составляет
        1-2 месяца. Как правило окупаемость бизнеса от 3-5 месяцев.
      </p>
    </div>
  </div>
</section>
