<section class="franch">
  <div class="container">
    <h2 class="title2 franch__title">Франшиза мастерской Мистер Починкин</h2>
    <p class="desc franch__desc">
      За 10 лет успешной работы сервисных центров Мистер Починкин, нам удалось
      накопить большой опыт и понимание данного бизнеса. Удалось организовать
      сеть мастерских в Москве, Санкт-Петербурге, Казани, Калининграде и других
      городах. Мы всегда рады новым парнерам и готовы поделиться своим опытом.
      Если вы хотите открыть прибыльный бизнес, с доходом от 150 000 рублей и
      более в месяц - будем рады сотрудничеству! Процесс открытия составляет 1-2
      месяца. Как правило окупаемость бизнеса от 3-5 месяцев.
    </p>
    <div class="franch__act act">
      <p class="title3 act__title">Актуальность наших услуг</p>
      <div class="swiper franch__slider">
        <div class="act__items swiper-wrapper">
          <div class="act__item swiper-slide act-item">
            <div class="act-item__icon">
              <img src="./img/act/01.svg" alt="" />
            </div>
            <div class="act-item__content">
              <div class="act-item__title">Повторные покупки</div>
              <div class="desc act-item__desc">
                80% клиентов обращаются<br />за услугами вновь
              </div>
            </div>
          </div>
          <div class="act__item swiper-slide act-item">
            <div class="act-item__icon">
              <img src="./img/act/02.svg" alt="" />
            </div>
            <div class="act-item__content">
              <div class="act-item__title">Ценность</div>
              <div class="desc act-item__desc">
                Люди ценят свои вещи и желают <br />
                подарить им новую жизнь
              </div>
            </div>
          </div>
          <div class="act__item swiper-slide act-item">
            <div class="act-item__icon">
              <img src="./img/act/03.svg" alt="" />
            </div>
            <div class="act-item__content">
              <div class="act-item__title">Эксклюзивность</div>
              <div class="desc act-item__desc">
                Клиенты обращаются с ремонтом <br />
                уникальных и редких вещей
              </div>
            </div>
          </div>
          <div class="act__item swiper-slide act-item">
            <div class="act-item__icon">
              <img src="./img/act/04.svg" alt="" />
            </div>
            <div class="act-item__content">
              <div class="act-item__title">Стоимость</div>
              <div class="desc act-item__desc">
                Чаще всего цена ремонта сильно <br />
                ниже покупки нового изделия
              </div>
            </div>
          </div>
          <div class="act__item swiper-slide act-item">
            <div class="act-item__icon">
              <img src="./img/act/05.svg" alt="" />
            </div>
            <div class="act-item__content">
              <div class="act-item__title">Изменение рынка</div>
              <div class="desc act-item__desc">
                В связи с уходом мировых брендов спрос <br />
                на ремонт вещей стабильно растет
              </div>
            </div>
          </div>
          <div class="act__item swiper-slide act-item">
            <div class="act-item__icon">
              <img src="./img/act/06.svg" alt="" />
            </div>
            <div class="act-item__content">
              <div class="act-item__title">Доверие</div>
              <div class="desc act-item__desc">
                Мистер Починкин имеет <br />
                отличную репутацию
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="franch__ben f-ben">
      <p class="f-ben__title title3">Преимущества работы с нами</p>
      <div class="f-ben__slider swiper">
        <div class="f-ben__items swiper-wrapper">
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">Централизованные закупки</div>
            <p class="desc f-ben__desc">
              Только для наших партнеров цена на расходные материалы со скидкой.
            </p>
          </div>
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">Обучение</div>
            <p class="desc f-ben__desc">
              Четко выстроенный процесс обучения новых мастеров авторской
              методике.
            </p>
          </div>
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">Ведение до результата</div>
            <p class="desc f-ben__desc">
              Заработок наших партнеров превыше всего.Наша цель - создать
              сильную сеть.
            </p>
          </div>
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">Общий чат</div>
            <p class="desc f-ben__desc">
              Только для наших франчайзи-партнеров мы предлагаем уникальные цены
              на закупку запасных частей и расходных материалов
            </p>
          </div>
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">Поддержка</div>
            <p class="desc f-ben__desc">
              Всегда на связи личный менеджер, который поможет решить любой
              вопрос в работе
            </p>
          </div>
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">Маркетинг</div>
            <p class="desc f-ben__desc">
              Приведем 100 первых клиентов в первый месяц за счет контекстной и
              таргетированной рекламы
            </p>
          </div>
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">База знаний</div>
            <p class="desc f-ben__desc">
              5 разделов обучения по всем аспектам бизнеса
            </p>
          </div>
          <div class="f-ben__item swiper-slide">
            <div class="f-ben__capture">Бизнес-процессы</div>
            <p class="desc f-ben__desc">
              Отработанные схемы построения бизнеса
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="franch__bottom">
      <a href="#" class="franch__btn btn btn-reset"> Подробнее о франшизе </a>
    </div>
  </div>
</section>
