<header class="header" id="header">
  <div class="container">
    <div class="header__container">
      <div class="header__left">
        <a href="./" class="header__logo">
          <img src="./img/logo.webp" alt="" />
        </a>

        <div class="header__tel">
          <span>Единый бесплатный телефон</span>
          <a href="tel:88002004434">8 800 200 44 34</a>
        </div>
      </div>

      <div class="header__right">
        <button class="btn-reset btn btn--stroke header__btn">
          Контакты и адреса мастерских
        </button>
        <button class="btn-reset btn header__btn">Перезвоните мне</button>
      </div>
    </div>
  </div>
  <div class="header__nav">
    <div class="container">
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link">Сотрудничество</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Франшиза</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
