<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero__container hero__container--red">
              <div class="hero__left">
                <h4 class="hero__subtitle">Сеть мастерских</h4>
                <h1 class="hero__title">Мистер Починкин</h1>
                <p class="hero__desc">
                  Ремонт детских колясок, электросамокатов, очков, чемоданов на
                  колесиках
                </p>
                <button class="modal-btn btn-reset btn btn--white">
                  Оставить заявку
                </button>
              </div>
              <div class="hero__right">
                <div class="hero__img">
                  <img src="./img/main/01.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="hero__pagination pagination swiper-pagination"></ul>
      </div>
      <div
        class="hero__control control-btn control-btn--prev hero__control--prev"
      >
        <svg
          width="10"
          height="16"
          viewBox="0 0 10 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.860652 1.67667L2.09849 0.440003L8.84065 7.17984C8.94933 7.28783 9.03558 7.41625 9.09444 7.55771C9.15329 7.69917 9.18359 7.85087 9.18359 8.00409C9.18359 8.1573 9.15329 8.309 9.09444 8.45046C9.03558 8.59192 8.94933 8.72034 8.84065 8.82834L2.09849 15.5717L0.861818 14.335L7.18982 8.00584L0.860652 1.67667Z"
          />
        </svg>
      </div>
      <div
        class="hero__control control-btn control-btn--next hero__control--next"
      >
        <svg
          width="10"
          height="16"
          viewBox="0 0 10 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.860652 1.67667L2.09849 0.440003L8.84065 7.17984C8.94933 7.28783 9.03558 7.41625 9.09444 7.55771C9.15329 7.69917 9.18359 7.85087 9.18359 8.00409C9.18359 8.1573 9.15329 8.309 9.09444 8.45046C9.03558 8.59192 8.94933 8.72034 8.84065 8.82834L2.09849 15.5717L0.861818 14.335L7.18982 8.00584L0.860652 1.67667Z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
