<div class="menu" data-menu>
  <div class="menu__body">
    <nav class="nav menu__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="./" class="nav__link">Главная</a></li>
        <li class="nav__item">
          <a href="./service.html" class="nav__link">Услуги</a>
        </li>
        <li class="nav__item">
          <a href="./fransh.html" class="nav__link">Сотрудничество</a>
        </li>
        <li class="nav__item">
          <a href="./fransh.html" class="nav__link">Франшиза</a>
        </li>
        <li class="nav__item">
          <a href="./contacts.html" class="nav__link">Контакты</a>
        </li>
        <li class="nav__item">
          <a href="./about.html" class="nav__link">О нас</a>
        </li>
      </ul>
    </nav>
    <div class="menu__bottom">
      <div class="footer__socials menu__socials">
        <a href="#" class="footer__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
        <a href="#" class="footer__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#tg"></use>
          </svg>
        </a>
        <a href="#" class="footer__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
        <a href="#" class="footer__soc">
          <svg class="">
            <use xlink:href="img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </div>
      <a href="#" class="btn btn--stroke menu__btn">
        Контакты и адреса мастерских
      </a>
    </div>
  </div>
</div>
