<section class="our-benefits">
  <div class="container">
    <h2 class="title2 our-benefits__title">Наши преимущества</h2>
    <div class="our-benefits__items">
      <div class="our-benefits__item ob-item">
        <div class="ob-item__icon">
          <img src="./img/our-benefits/01.svg" alt="" />
        </div>
        <div class="ob-item__content">
          <div class="ob-item__title desc">Срочный ремонт колясок</div>
          <p class="ob-item__desc dedsc">
            Производим ремонт любой сложности, начиная от замены камеры колеса,
            заканчивая полной реконструкцией каркаса коляски.
          </p>
        </div>
      </div>
      <div class="our-benefits__item ob-item">
        <div class="ob-item__icon">
          <img src="./img/our-benefits/02.svg" alt="" />
        </div>
        <div class="ob-item__content">
          <div class="ob-item__title desc">Продажа запчастей</div>
          <p class="ob-item__desc dedsc">
            У нас Вы можете приобрести или заказать у поставщика все необходимые
            запчасти для детских колясок. Расходники всегда в наличии
          </p>
        </div>
      </div>
      <div class="our-benefits__item ob-item">
        <div class="ob-item__icon">
          <img src="./img/our-benefits/03.svg" alt="" />
        </div>
        <div class="ob-item__content">
          <div class="ob-item__title desc">Профилактика и тех.осмотр</div>
          <p class="ob-item__desc dedsc">
            Производим полный осмотр на наличие дефектов и скрытых поломок,
            профилактику, во избежании дополнительных расходов в будущем и с
            целью увеличения срока службы коляски
          </p>
        </div>
      </div>
      <div class="our-benefits__item ob-item">
        <div class="ob-item__icon">
          <img src="./img/our-benefits/01.svg" alt="" />
        </div>
        <div class="ob-item__content">
          <div class="ob-item__title desc">Подготовка к продаже</div>
          <p class="ob-item__desc dedsc">
            Если Вы решили продать свою старую коляску, мы поможем увеличить ее
            стоимость, проведя ряд профилактических процедур.<br />Бланк осмотра
            прилагается
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
