<section class="possible">
  <div class="container">
    <h2 class="title2 possible__title">Наши возможности</h2>
    <p class="possible__subtitle capture">
      Сеть сервисных центров Мистер Починкин занимается профессиональным
      ремонтом
    </p>

    <div class="possible__container">
      <div class="possible__block desc">
        <p class="possible__cap">Чемоданов</p>
        <ul>
          <li>Замена телескопической ручки</li>
          <li>Замена колеса</li>
          <li>Замена колеса с ножкой</li>
          <li>Замена колесного блока</li>
          <li>Замена молнии внутреннего кармана</li>
          <li>Ремонт слома корпуса</li>
          <li>Замена кодового замка</li>
          <li>Ремонт разрыва</li>
          <li>Проклейка 1 место</li>
          <li>Установка упоров (1 упор)</li>
          <li>Установка двойного упора</li>
          <li>Установка заклепки</li>
        </ul>
      </div>
      <div class="possible__block desc">
        <p class="possible__cap">Чемоданов</p>
        <ul>
          <li>Замена телескопической ручки</li>
          <li>Замена колеса</li>
          <li>Замена колеса с ножкой</li>
          <li>Замена колесного блока</li>
          <li>Замена молнии внутреннего кармана</li>
          <li>Ремонт слома корпуса</li>
          <li>Замена кодового замка</li>
          <li>Ремонт разрыва</li>
          <li>Проклейка 1 место</li>
          <li>Установка упоров (1 упор)</li>
          <li>Установка двойного упора</li>
          <li>Установка заклепки</li>
        </ul>
      </div>
      <div class="possible__block desc">
        <p class="possible__cap">Чемоданов</p>
        <ul>
          <li>Замена телескопической ручки</li>
          <li>Замена колеса</li>
          <li>Замена колеса с ножкой</li>
          <li>Замена колесного блока</li>
          <li>Замена молнии внутреннего кармана</li>
          <li>Ремонт слома корпуса</li>
          <li>Замена кодового замка</li>
          <li>Ремонт разрыва</li>
          <li>Проклейка 1 место</li>
          <li>Установка упоров (1 упор)</li>
          <li>Установка двойного упора</li>
          <li>Установка заклепки</li>
        </ul>
      </div>
      <div class="possible__block desc">
        <p class="possible__cap">Чемоданов</p>
        <ul>
          <li>Замена телескопической ручки</li>
          <li>Замена колеса</li>
          <li>Замена колеса с ножкой</li>
          <li>Замена колесного блока</li>
          <li>Замена молнии внутреннего кармана</li>
          <li>Ремонт слома корпуса</li>
          <li>Замена кодового замка</li>
          <li>Ремонт разрыва</li>
          <li>Проклейка 1 место</li>
          <li>Установка упоров (1 упор)</li>
          <li>Установка двойного упора</li>
          <li>Установка заклепки</li>
        </ul>
      </div>
    </div>
    <div class="possible__bottom">
      <div class="possible__wr">
        На сайте перечислена лишь малая часть производимых работ.
      </div>
      <p class="desc possible__extra">
        Свяжитесь с нами по электронной почте <a
          href="mailto:info@mr-pochinkin.ru"
          >info@mr-pochinkin.ru</a
        >
        или телефону <a href="tel:+7 (495) 182-43-43">+7 (495) 182-43-43</a>  и
        мы ответим на все интересующие вопросы, предоставим документы и поможем
        подобрать оптимальные условия сотрудничества.
      </p>
    </div>
  </div>
</section>
