<div class="container">
  <div class="breadcrumbs">
    <span>
      <span>
        <a href="./">Главная</a>
      </span>
      <span> Цены </span>
    </span>
  </div>
</div>
<section class="price price--main">
  <div class="container">
    <h2 class="title2 price__title">Стоимость услуг</h2>
    <div class="price__slider-tabs swiper">
      <div class="price__tabs swiper-wrapper">
        <div class="price__tab swiper-slide active" data-pricetab="chemodan">
          Ремонт чемоданов
        </div>
        <div class="price__tab swiper-slide" data-pricetab="kolyaska">
          Ремонт колясок
        </div>
        <div class="price__tab swiper-slide" data-pricetab="samokat">
          Ремонт электросамокатов
        </div>
        <div class="price__tab swiper-slide" data-pricetab="ochki">
          Ремонт очков
        </div>
      </div>
    </div>

    <ul class="list-reset price__list active" data-pricelist="chemodan">
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
    </ul>

    <ul class="list-reset price__list" data-pricelist="kolyaska">
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
    </ul>

    <ul class="list-reset price__list" data-pricelist="samokat">
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>

      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
    </ul>

    <ul class="list-reset price__list" data-pricelist="ochki">
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колеса чемодана</span>
        <span>от 2500 ₽</span>
      </li>
    </ul>

    <div class="price__bottom">
      <a href="#" class="btn btn-reset price__btn">Посмотреть весь прайс</a>
    </div>
  </div>
</section>
