<section class="profit">
  <div class="container">
    <h2 class="title2 profit__title">С нами выгодно</h2>

    <div class="desc profit__content">
      <ul>
        <li>Сокращение расходов на гарантийное и допродажное обслуживание;</li>
        <li>Отсутствие логистических расходов и сопутствующих издержек;</li>
        <li>
          Нет необходимости содержать собственные производственные мощности
          полного цикла;
        </li>
        <li>Персональный менеджер, 3-х уровневый контроль качества работ;</li>
        <li>Гарантия на все виды работ и 100% материальная ответственность.</li>
        <li>Улучшение пользовательского опыта Ваших клиентов;</li>
        <li>Снижение издержек на таможенных пошлинах;</li>
        <li>Гибкие условия сотрудничества на индивидуальных условиях;</li>
        <li>Увеличение лояльности клиентов и поддержание имиджа бренда.</li>
      </ul>
    </div>
  </div>
</section>
