<section class="ready">
  <div class="container">
    <h2 class="ready__title">Выполненные работы</h2>
    <div class="swiper ready__slider swiper-no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="ready__ba b-a">
            <div class="b-a__before">
              <img src="./img/before-after/01.webp" alt="" />
            </div>
            <div class="b-a__after">
              <img src="./img/before-after/02.webp" alt="" />
            </div>
            <div class="b-a__change"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ready__ba b-a">
            <div class="b-a__before">
              <img src="./img/before-after/01.webp" alt="" />
            </div>
            <div class="b-a__after">
              <img src="./img/before-after/02.webp" alt="" />
            </div>
            <div class="b-a__change"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ready__ba b-a">
            <div class="b-a__before">
              <img src="./img/before-after/01.webp" alt="" />
            </div>
            <div class="b-a__after">
              <img src="./img/before-after/02.webp" alt="" />
            </div>
            <div class="b-a__change"></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ready__ba b-a">
            <div class="b-a__before">
              <img src="./img/before-after/01.webp" alt="" />
            </div>
            <div class="b-a__after">
              <img src="./img/before-after/02.webp" alt="" />
            </div>
            <div class="b-a__change"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination ready__pagination"></div>

    <div class="ready__bottom">
      <a href="#" class="btn btn-reset ready__btn">
        Подробнее о сотрудничестве
      </a>
    </div>
  </div>
</section>
