<section class="reason">
  <div class="container">
    <h2 class="title2 reason__title">Причины поломок</h2>
    <div class="reason__items">
      <div class="reason__item r-item">
        <div class="r-item__count">01/</div>
        <div class="r-item__content capture">
          Неаккуратное обращение с изделием.
        </div>
      </div>

      <div class="reason__item r-item">
        <div class="r-item__count">02/</div>
        <div class="r-item__content capture">
          Неудовлетворительное состояние дорожных покрытий.
        </div>
      </div>

      <div class="reason__item r-item">
        <div class="r-item__count">03/</div>
        <div class="r-item__content capture">
          Слишком высокая нагрузка на деталь.
        </div>
      </div>

      <div class="reason__item r-item">
        <div class="r-item__count">04/</div>
        <div class="r-item__content capture">
          Попадание в механизм постороннего предмета.
        </div>
      </div>

      <div class="reason__item r-item">
        <div class="r-item__count">05/</div>
        <div class="r-item__content capture">Изнашиваемость со временем.</div>
      </div>

      <div class="reason__item r-item">
        <div class="r-item__count">06/</div>
        <div class="r-item__content capture">
          Заводской брак, который часто проявляется после истечения гарантии.
        </div>
      </div>
    </div>

    <div class="reason__block">
      <p class="title3 reason__capture">Детские коляски</p>
      <p class="desc">
        Слабым местом нередко оказывается подвеска. Ломается планка, которая
        соединяет колеса, слетает ось, заедает тормоз. Это не позволяет
        использовать основную функцию коляски: сохранять покой и безопасность
        ребенка при его транспортировке. Необходимо срочно произвести ремонт,
        чтобы продолжать спокойно гулять.
      </p>
    </div>
    <div class="reason__block">
      <p class="title3 reason__capture">Чемоданы</p>
      <p class="desc">
        Тоже ломаются довольно часто. Разошлась или лопнула молния; перестала
        выдвигаться ручка, колесико начало уходить в сторону. Эти и другие
        поломки не позволяют нормально эксплуатировать изделие, лишая человека
        возможности комфортно путешествовать.
      </p>
    </div>
    <div class="reason__block">
      <p class="title3 reason__capture">Электрические средства передвижения</p>
      <p class="desc">
        Обидно, когда ломается гироскутер или электросамокат, потому что
        разобраться в причинах поломки электроники еще сложнее. Но наши мастера
        обладают достаточным профессионализмом и опытом, чтобы справиться даже с
        самой непростой задачей.
      </p>
    </div>
    <div class="reason__block">
      <p class="title3 reason__capture">Беговелы</p>
      <p class="desc">
        Даже в изделии с элементарной конструкцией может что-то сломаться. У
        беговелов часто выходят из строя колеса: они плохо крутятся или уводят в
        сторону. Проще всего – произвести замену колеса. Но это очень дорого
        (примерно половина стоимости изделия). Поэтому гораздо выгоднее найти
        причину поломки и устранить ее. Иногда это требует замены подшипника или
        вовсе какой-то мелочи. Если вы не знаете, что именно сломалось, но
        чувствуете, что изделие перестало выполнять свои функции (чемодан
        неровно катится по ровному полу, коляска скрипит при качании,
        электросамокат не едет сам), привозите его в мастерскую Мистер Починкин.
      </p>
    </div>
  </div>
</section>
