<section class="services-list">
  <div class="container">
    <h2 class="title2 services-list__title">
      Услуги по ремонту колясок <br />
      в сервисных центрах Мистер Починкин
    </h2>

    <ul class="services-list__list desc">
      <li>Устранение скрипа коляски</li>
      <li>Замена колес</li>
      <li>Замена покрышки 10 дюймов</li>
      <li>Замена покрышки 12 дюймов</li>
      <li>Замена покрышки 14 дюймов</li>
      <li>Замена камеры 10 дюймов</li>
      <li>Замена камеры 12 и 14 дюймов</li>
      <li>Замена подшипников, втулок</li>
      <li>Замена регуляторов ручек</li>
      <li>Замена механизмов регулятора подножки</li>

      <li>Замена механизмов складывания</li>
      <li>Замена трещетки капора</li>
      <li>Профилактика коляски</li>
      <li>Замена оплетки ручки</li>
      <li>Выравнивание коляски</li>
      <li>Заклепывания блоков коляски</li>
      <li>Замена осей, пружин, шпильки колеса</li>
      <li>Замена шарниров, суставов</li>
      <li>Ремонт диска колеса, ниппеля, золотника</li>
      <li>Замена, ремонт ремня безопасности коляски</li>

      <li>Ремонт детского стула, автокресла</li>
      <li>Замена спинки, ремонт спинки</li>
      <li>Кнопка, заклепка, клипса на ткани, текстиль</li>
      <li>Крепление капора, капюшона для коляски</li>
      <li>Ремонт подвески коляски</li>
      <li>Ремонт тормоза</li>
      <li>Сварка коляски и металлических частей рамы</li>
      <li>Чехол, накидка на ноги для коляски</li>
      <li>Предпродажная подготовка</li>
    </ul>

    <div class="services-list__bottom desc">
      На сайте перечислена лишь малая часть производимых работ. Цены носят
      ориентировочный характер и могут отличаться, как в большую, так и в
      меньшую сторону. Конечная стоимость расчитывается индивидуально - в
      зависимости от сложности работ, наличия запчастей и других факторов. Вы
      можете прислать фотографию поломки нам на WhatsApp и мастер постарается
      расчитать её удаленно.
    </div>
  </div>
</section>
