<div class="container">
  <div class="breadcrumbs">
    <span>
      <span>
        <a href="#"> Главная </a>
      </span>
      <span>Услуги</span>
    </span>
  </div>
</div>
<section class="service-hero">
  <div class="container">
    <h1 class="service-hero__title title2">
      Услуги мастерской Мистер Починкин
    </h1>

    <ul class="list-reset service-hero__list">
      <li class="service-hero__item service-item">
        <div class="service-item__title">Ремонт детских колясок</div>
        <div class="service-item__body">
          <p class="service-item__desc desc">
            Слабым местом нередко оказывается подвеска. Ломается планка, которая
            соединяет колеса, слетает ось, заедает тормоз. Это не позволяет
            использовать основную функцию коляски: сохранять покой и
            безопасность ребенка при его транспортировке. Необходимо срочно
            произвести ремонт, чтобы продолжать спокойно гулять.
          </p>

          <button class="btn-reset btn btn--stroke service-item__btn">
            Заказать
          </button>
        </div>
      </li>
      <li class="service-hero__item service-item">
        <div class="service-item__title">Ремонт электротранспорта</div>
        <div class="service-item__body">
          <p class="service-item__desc desc">
            Слабым местом нередко оказывается подвеска. Ломается планка, которая
            соединяет колеса, слетает ось, заедает тормоз. Это не позволяет
            использовать основную функцию коляски: сохранять покой и
            безопасность ребенка при его транспортировке. Необходимо срочно
            произвести ремонт, чтобы продолжать спокойно гулять.
          </p>

          <button class="btn-reset btn btn--stroke service-item__btn">
            Заказать
          </button>
        </div>
      </li>
      <li class="service-hero__item service-item">
        <div class="service-item__title">Ремонт очков</div>
        <div class="service-item__body">
          <p class="service-item__desc desc">
            Сервсный центр Мистер Починкин, осуществляет ремонт очков различных
            брендов - чиним модели более 95 производителей, как китайского, так
            и европейского производства.Профессиональное оборудование, большой
            опыт работы и наличие фирменных запчастей, позволяет чинить даже
            самые новые модели текущего года.
          </p>

          <button class="btn-reset btn btn--stroke service-item__btn">
            Заказать
          </button>
        </div>
      </li>
      <li class="service-hero__item service-item">
        <div class="service-item__title">Ремонт чемоданов на колесиках</div>
        <div class="service-item__body">
          <p class="service-item__desc desc">
            Разошлась или лопнула молния; перестала выдвигаться ручка, колесико
            начало уходить в сторону. Эти и другие поломки не позволяют
            нормально эксплуатировать изделие, лишая человека возможности
            комфортно путешествовать. Именно поэтому большинство поломок, мы
            можем устранить в день обращения!
          </p>

          <button class="btn-reset btn btn--stroke service-item__btn">
            Заказать
          </button>
        </div>
      </li>
      <li class="service-hero__item service-item">
        <div class="service-item__title">Реставрация и химчистка изделий</div>
        <div class="service-item__body">
          <p class="service-item__desc desc">
            Помимо ремонта изделий, наша мастерская выполняет услуги по
            реставрации и химчистке различных изделий. Профессионализм наших
            мастеров, качественные щадящие материалы, индивидуальный подход к
            каждому заказу обеспечивают качественный результат.
          </p>

          <button class="btn-reset btn btn--stroke service-item__btn">
            Заказать
          </button>
        </div>
      </li>
    </ul>
    <div class="service-hero__extra desc">
      Мы работаем строгу по прайсу. Рассчитать точную стоимость ремонта можно на
      месте либо обратившись на WhatsUp номер.
    </div>
  </div>
</section>
