<section class="service-desc">
  <div class="container">
    <h2 class="title2 service-desc__title">
      Обслуживание корпоративных клиентов и юридических лиц
    </h2>
    <div class="desc service-desc__desc">
      <p>
        Наши мастерские осуществляют профессиональный ремонт детских колясок,
        электросамокатов, очков, а так же чемоданов на колесиках. За 10 лет
        работы, мы накопили большой экспертный опыт, что позволяет устранять
        поломки любой сложности. Благодаря узкой направленности и большому опыту
        мастеров, к нам обращаются даже в самых сложных случаях, когда другие
        сервисные центры отказываются от ремонта.
        <br /><br />
        Более 10 ведущих компаний пользуются нашими услугами гарантийной
        поддержки. Будем рады пригласить Вас в число наших постоянных партнеров.
        С нами вы избавитесь от забот, связанных с допродажным, постпродажным и
        сервисным обслуживанием. Обратитесь к нам уже сегодня и добейтесь
        максимальной эффективности вашего бизнеса!
      </p>
    </div>
  </div>
</section>
