<section class="price price--stroller">
  <div class="container">
    <h2 class="title2 price__title">Стоимость услуг на ремонт колясок</h2>

    <ul class="list-reset price__list active">
      <li class="capture">
        <span>Диагностика</span>
        <span>бесплатно</span>
      </li>
      <li class="capture">
        <span>Консультация, подбор запчастей</span>
        <span>бесплатно</span>
      </li>
      <li class="capture">
        <span>Подкачка колес</span>
        <span>бесплатно</span>
      </li>
      <li class="capture">
        <span
          >Профилактика и смазывание коляски, рамы, шасси, устранение скрипа
          коляски</span
        >
        <span>от 400 ₽</span>
      </li>
      <li class="capture">
        <span>Ремонт колес</span>
        <span>от 150 ₽ <span>(цена запчасти от 300 ₽)</span></span>
      </li>
      <li class="capture">
        <span
          >Замена, установка колеса, оси, стопорных колец, втулок колеса</span
        >
        <span>от 200 ₽ <span>(цена запчасти от 50 руб)</span></span>
      </li>
      <li class="capture">
        <span>Замена блока поворотного колеса</span>
        <span>от 450 ₽ <span>(цена запчасти от 400 ₽)</span></span>
      </li>
      <li class="capture">
        <span>Замена полувтулки переднего колеса</span>
        <span>от 150 ₽ <span>(цена запчасти от 100 ₽)</span></span>
      </li>
      <li class="capture">
        <span>Замена подшипников в колесах</span>
        <span>от 150 ₽ <span>(цена запчасти от 350 ₽)</span></span>
      </li>
      <li class="capture">
        <span>Замена покрышки 8 дюймов</span>
        <span>от 150 ₽ <span>(цена запчасти от 700 ₽)</span></span>
      </li>
      <li class="capture">
        <span>Замена покрышки 10 дюймов</span>
        <span>от 150 ₽ <span>(цена запчасти от 700 ₽)</span></span>
      </li>
      <li class="capture">
        <span>Замена покрышки 12 дюймов</span>
        <span>от 150 ₽ <span>(цена запчасти от 700 ₽)</span></span>
      </li>
      <li class="capture">
        <span>Замена покрышки 14 дюймов</span>
        <span>от 150 ₽ <span>(цена запчасти от 700 ₽)</span></span>
      </li>
    </ul>

    <div class="price__bottom">
      <a href="#" class="price__link">Весь прейскурант</a>
    </div>
  </div>
</section>
