<section class="testi">
  <div class="container">
    <h2 class="testi__title title2">Отзывы наших клиентов</h2>
    <div class="testi__slider-tabs swiper">
      <div class="testi__tabs swiper-wrapper">
        <div class="testi__tab swiper-slide active" data-tab="all">Все 4.8</div>
        <div class="testi__tab swiper-slide" data-tab="flamp">
          <img src="./img/testi/flamp.svg" alt="" />
          5.0
        </div>
        <div class="testi__tab swiper-slide" data-tab="2gis">
          <img src="./img/testi/2gis.webp" alt="" />
          4.8
        </div>
        <div class="testi__tab swiper-slide" data-tab="yandex">
          <img src="./img/testi/yandex.webp" alt="" />
          5.0
        </div>
        <div class="testi__tab swiper-slide" data-tab="yell">
          <img src="./img/testi/yell.webp" alt="" />
          5.0
        </div>
        <div class="testi__tab swiper-slide" data-tab="a-serv">
          <img src="./img/testi/ya-serv.webp" alt="" />
          5.0
        </div>
        <div class="testi__tab swiper-slide" data-tab="profi">
          <img src="./img/testi/profi.webp" alt="" />
          5.0
        </div>
        <div class="testi__tab swiper-slide" data-tab="avito">
          <img src="./img/testi/avito.webp" alt="" />
          5.0
        </div>
      </div>
    </div>
    <div class="testi__wrapper">
      <div class="testi__slider swiper">
        <div class="swiper-wrapper">
          <div class="testi__card swiper-slide testimonial" data-testi="flamp">
            <div class="testimonial__header">
              <div class="testimonial__platform">
                <img src="./img/testi/flamp.svg" alt="" />
              </div>
              <div class="testimonial__raiting">
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
              </div>
            </div>
            <div class="testimonial__content">
              <div class="testimonial__text">
                Столкнулся с проблемой колеса на детской коляске. За 10 минут
                устранили эту проблему. Мальчишки вежливые, мастера своего дела,
                цены приемлемые.
              </div>
              <span>Читать полностью</span>
            </div>
            <div class="testimonial__bottom">Сергей М.</div>
          </div>
          <div class="swiper-slide testi__card testimonial" data-testi="yandex">
            <div class="testimonial__header">
              <div class="testimonial__platform">
                <img src="./img/testi/yandex.webp" alt="" />
              </div>
              <div class="testimonial__raiting">
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
              </div>
            </div>
            <div class="testimonial__content">
              <div class="testimonial__text">
                Спасибо за вашу работу - очень быстро заменили нам покрышку на
                колесе и подшипники в другом колесе. Вышло весьма бюджетно.
              </div>
              <span>Читать полностью</span>
            </div>
            <div class="testimonial__bottom">Сергей М.</div>
          </div>
          <div class="testi__card swiper-slide testimonial" data-testi="2gis">
            <div class="testimonial__header">
              <div class="testimonial__platform">
                <img src="./img/testi/2gis.webp" alt="" />
              </div>
              <div class="testimonial__raiting">
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
                <img src="./img/testi/star.svg" alt="" />
              </div>
            </div>
            <div class="testimonial__content">
              <div class="testimonial__text">
                Сказать что я приятно удивлен, ничего не сказать! Мою проблему
                решили за 10 минут и цены оказались очень демократичными. Сервис
                на высшем уровне.
              </div>
              <span>Читать полностью</span>
            </div>
            <div class="testimonial__bottom">Сергей М.</div>
          </div>
        </div>
      </div>
      <div class="testi__mob">
        <div
          class="testi__control control-btn control-btn--prev testi__control--prev"
        >
          <svg
            width="10"
            height="16"
            viewBox="0 0 10 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.860652 1.67667L2.09849 0.440003L8.84065 7.17984C8.94933 7.28783 9.03558 7.41625 9.09444 7.55771C9.15329 7.69917 9.18359 7.85087 9.18359 8.00409C9.18359 8.1573 9.15329 8.309 9.09444 8.45046C9.03558 8.59192 8.94933 8.72034 8.84065 8.82834L2.09849 15.5717L0.861818 14.335L7.18982 8.00584L0.860652 1.67667Z"
            />
          </svg>
        </div>
        <div
          class="testi__control control-btn control-btn--next testi__control--next"
        >
          <svg
            width="10"
            height="16"
            viewBox="0 0 10 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.860652 1.67667L2.09849 0.440003L8.84065 7.17984C8.94933 7.28783 9.03558 7.41625 9.09444 7.55771C9.15329 7.69917 9.18359 7.85087 9.18359 8.00409C9.18359 8.1573 9.15329 8.309 9.09444 8.45046C9.03558 8.59192 8.94933 8.72034 8.84065 8.82834L2.09849 15.5717L0.861818 14.335L7.18982 8.00584L0.860652 1.67667Z"
            />
          </svg>
        </div>
      </div>
    </div>

    <div class="pagination testi__pagination"></div>
  </div>
</section>
