<section class="partners">
  <div class="container">
    <div class="partners__title title2">Наши партнеры</div>
    <div class="partners__wrapper">
      <div class="partners__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="partners__item">
              <img src="./img/partners/tako.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__item">
              <img src="./img/partners/roan.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__item">
              <img src="./img/partners/riko.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__item">
              <img src="./img/partners/hoordi.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__item">
              <img src="./img/partners/lonex.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__item">
              <img src="./img/partners/joolz.webp" alt="" />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="partners__item">
              <img src="./img/partners/tako.webp" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="partners__control control-btn control-btn--prev partners__control--prev"
      >
        <svg
          width="10"
          height="16"
          viewBox="0 0 10 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.860652 1.67667L2.09849 0.440003L8.84065 7.17984C8.94933 7.28783 9.03558 7.41625 9.09444 7.55771C9.15329 7.69917 9.18359 7.85087 9.18359 8.00409C9.18359 8.1573 9.15329 8.309 9.09444 8.45046C9.03558 8.59192 8.94933 8.72034 8.84065 8.82834L2.09849 15.5717L0.861818 14.335L7.18982 8.00584L0.860652 1.67667Z"
          />
        </svg>
      </div>
      <div
        class="partners__control control-btn control-btn--next partners__control--next"
      >
        <svg
          width="10"
          height="16"
          viewBox="0 0 10 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.860652 1.67667L2.09849 0.440003L8.84065 7.17984C8.94933 7.28783 9.03558 7.41625 9.09444 7.55771C9.15329 7.69917 9.18359 7.85087 9.18359 8.00409C9.18359 8.1573 9.15329 8.309 9.09444 8.45046C9.03558 8.59192 8.94933 8.72034 8.84065 8.82834L2.09849 15.5717L0.861818 14.335L7.18982 8.00584L0.860652 1.67667Z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
