<div class="welcome">
  <p class="welcome__title">
    Будем рады сотрудничеству с Вами, в качестве официального сервисного центра,
    в рамках которого выполним:
  </p>
  <div class="welcome__items">
    <div class="welcome__item">
      <div class="desc">Допродажную подготовку</div>
    </div>
    <div class="welcome__item">
      <div class="desc">Гарантийный ремонт</div>
    </div>
    <div class="welcome__item">
      <div class="desc">Постгарантийный ремонт</div>
    </div>
  </div>
</div>
